<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whitesky.home.dao.DeviceMapper">
	<resultMap id="BaseResultMap" type="com.whitesky.home.model.Device">
		<id column="ID" property="id" jdbcType="VARCHAR" javaType="String" />
		<result column="NAME" property="name" jdbcType="VARCHAR" javaType="String" />
		<result column="NOTE" property="note" jdbcType="VARCHAR" javaType="String" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp" />
		<result column="TYPE" property="type" jdbcType="VARCHAR" javaType="com.whitesky.home.common.model.DeviceType" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler" />
	</resultMap>
	<insert id="insert" parameterType="com.whitesky.home.model.Device">
		INSERT INTO DEVICE (NAME,NOTE,TYPE,CREATE_TIME)
		VALUES (#{name,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR},
		#{type,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP} )
	</insert>
	<select id="queryAll" resultMap="BaseResultMap">
		SELECT D.* FROM DEVICE D
	</select>
	<select id="queryAllByEntity" parameterType="com.whitesky.home.model.Device" resultMap="BaseResultMap">
		SELECT D.* FROM DEVICE D 
		<where>
			<if test="id != null">
				AND D.ID = #{id}
			</if>
			<if test="name != null">
				AND D.NAME = #{name}
			</if>
			<if test="type != null">
				AND D.TYPE = #{type}
			</if>
		</where>
		
	</select>
</mapper>