<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whitesky.home.dao.DeviceMapper">
	<resultMap id="BaseResultMap" type="com.whitesky.home.model.Device">
		<id column="id" property="id" jdbcType="INTEGER" javaType="int" />
		<result column="uname" property="uname" jdbcType="VARCHAR" javaType="String" />
		<result column="password" property="password" jdbcType="INTEGER" javaType="String" />
	</resultMap>
	<insert id="insert" parameterType="com.whitesky.home.model.Device">
		insert into user_info (id,
		uname, password
		)
		values (#{id,jdbcType=INTEGER},
		#{uname,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR}
		)
	</insert>
	<select id="selectAll" resultMap="BaseResultMap">
		select u.id, u.uname, u.password from user_info u
	</select>
	<select id="queryList" parameterType="com.whitesky.home.model.Device" resultMap="BaseResultMap">
		select u.id, u.uname, u.password from user_info u where 1=1 
		<if test="uname != null">
			and u.uname = #{uname}
		</if>
		<if test="password != null">
			and u.password = #{password}
		</if>
		
	</select>
</mapper>