<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whitesky.home.dao.DeviceMapper">
	<resultMap id="BaseResultMap" type="com.whitesky.home.model.Device">
		<id column="id" property="id" jdbcType="VARCHAR" javaType="String" />
		<result column="name" property="name" jdbcType="VARCHAR" javaType="String" />
		<result column="note" property="note" jdbcType="VARCHAR" javaType="String" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp" />
		<result column="type" property="type" jdbcType="VARCHAR" javaType="com.whitesky.home.common.model.DeviceType" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler" />
	</resultMap>
	<insert id="insert" parameterType="com.whitesky.home.model.Device">
		insert into device (name,note,type,create_time)
		values (#{name,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR},
		#{type,jdbcType=VARCHAR}, #{createTime,jdbcType=DATETIME} )
	</insert>
	<select id="queryAll" resultMap="BaseResultMap">
		select * from device d where 1=1 
	</select>
	<select id="queryAllByEntity" parameterType="com.whitesky.home.model.Device" resultMap="BaseResultMap">
		select * from device d 
		<where>
			<if test="id != null">
				and d.id = #{id}
			</if>
			<if test="name != null">
				and d.name = #{name}
			</if>
			<if test="type != null">
				and d.type = #{type}
			</if>
		</where>
		
	</select>
</mapper>